<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90326739457-nobu122kehe7n3l4kqaecot7se23h0no.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90326739457-nobu122kehe7n3l4kqaecot7se23h0no</string>
	<key>API_KEY</key>
	<string>AIzaSyBFN9ULmLPAnbqukdpqy0DlT0WHdsruMYY</string>
	<key>GCM_SENDER_ID</key>
	<string>90326739457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kodo.Intermediate-03</string>
	<key>PROJECT_ID</key>
	<string>immediate03-28e07</string>
	<key>STORAGE_BUCKET</key>
	<string>immediate03-28e07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90326739457:ios:63b23d372fcb4e0383ee00</string>
</dict>
</plist>